.promo {
    min-height: 100vh;
    position: relative;
    //50%/cover первое знач. - ширина, второе высота cover - покрывает все.
    background: url(../../img/main_bg3.jpg) 50% / cover no-repeat;
    &__tittle-wrap {
        display: block;
        padding-top: 344px;
        margin-left: 620px;
        width: 532px;
        position: relative;
        z-index: 0;
    }
    &__tittle {
        font-size: 48px;
        line-height: 60px;
        margin-top: 10px;
        color: rgb(230, 227, 227);
    }
    &__subtitle {
        position: relative;
        @include before_circle;
        color: rgb(230, 227, 227);
        padding-left: 10px;
    }

    &__buttons {
        display: flex;
        // text-align: center;
        align-items: center;
        width: 250px;
        margin-left: 200px;
        justify-content: space-around;
        color: rgb(230, 227, 227);
    }

    &__link {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 21px;
        color: #000000;
        color: rgb(230, 227, 227);
    }
    &__link:hover {
        color: #fdfdfd;
        text-decoration: none;
    }
}

.btn {
    display: block;
    padding: 13px 25px;
    // text-align: center;
    height: 45px;
    background: #ffa501;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.btn:hover {
    background: #fdaa10;
}
