.promo {
    min-height: 100vh;
    background: url(img/bg4.jpg) 50% / cover no-repeat;
    padding-bottom: 10px;
    &__tittle-wrap {
        position: relative;
        display: block;
        padding-top: 344px;
        margin-left: 50%;
        max-width: 532px;
        z-index: 0;
    }
    &__tittle {
        font-size: 48px;
        line-height: 60px;
        margin-top: 10px;
        color: rgb(230, 227, 227);
    }
    &__subtitle {
        position: relative;
        @include before_circle;
        color: rgb(230, 227, 227);
        padding-left: 10px;
    }

    &__buttons {
        display: flex;
        // text-align: center;
        align-items: center;
        width: 250px;
        margin-left: 200px;
        justify-content: space-around;
        color: rgb(230, 227, 227);
    }

    &__link {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 21px;
        color: #000000;
        color: rgb(230, 227, 227);
    }
    &__link:hover {
        color: #fdfdfd;
        text-decoration: none;
        transition: all 0.4s;
        box-shadow: 2px 2px 1px rgba(255, 255, 255, 0.2);
    }
}
